*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.container-80{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
}

.flex{
    display: flex;   
}

header{
    background-color: orange;
    padding-top: 15px;
    padding-bottom: 15px;
}

nav div{
    align-items: center;
    margin: 10px auto;
 
}

.flex-2{
    align-items: center;
    color: white;
}

.basis-1, .basis-3{
    flex-basis: 10%;
}

.basis-2{
    flex-basis: 80%;
    justify-content: center
}

.basis-1 span{
    padding: 0 5px;
}

.basis-3 i{
    padding: 0 5px;
}

/* main */
 .container{
    width: 80%;
    margin: 50px auto;
} 

.space-between{
    justify-content: space-between;
}

.basis{
    flex-basis: 30%;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.card{
    padding: 10px 15px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 30px;
}

.card-2, .card-3{
    position: absolute;
    bottom: 50px;
    left: 0;
    color: white;
    
}

.card-2 span:first-child{
    background-color: red;
    padding: 5px 5px;

}

.card-2 span:nth-child(2), .green{
    background-color: green;
    padding: 5px 5px;

}

.basis span:nth-child(5){
    text-decoration: line-through;
}

.basis > p{
    color: gray;
}

.red{
    color: red;
}

/* Footer */

footer{
    background-color: rgb(24, 24, 28);

}

footer section{
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}

/* Prove con hover */

.imagine-hover{
  display: none;
}

.img-cont:hover .imagine{
  display: none;
}

.img-cont:hover .imagine-hover{
    display: block;
  }